<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find my_aruco)/config/slamdog_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/slamdog" args="joint_state_controller
					  joint_left_controller joint_right_controller joint_trailer_publisher"/>

  <!-- convert joint states to TF transforms for rviz, etc -->  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/slamdog/joint_states" />
  </node>


  <node pkg="my_aruco" type="slamdog_controller_node.py" name="slamdog_controller_node" required="true"/>
    
</launch>
