<?xml version="1.0"?>
<launch>
    <arg name="model" default="aruco_robot.xacro"/>

    <!-- <include file="$(find my_aruco)/model/gazebo/Board_0/board_0.world"> -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
        <!-- <arg name="world_name" value="$(find my_aruco)/model/gazebo/Board_0/board_0.world"/> -->
    </include>

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find my_aruco)/model/$(arg model)'"/>

    l

    <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" required="true"/> -->
    <!-- <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/> -->

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_model" respawn="false" output="screen" args="-urdf -model aruco_robot -param robot_description" />

    <!-- loads the controllers -->
    <rosparam file="$(find my_aruco)/config/aruco_robot_control.yaml" command="load" />
    <node name="controller_manager" pkg="controller_manager" type="spawner" ns="/aruco_ros" args="joint_state_controller tcp_controller" output="screen" respawn="false"/>
    
    <!-- converts joint states to TF transforms -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <remap from="/joint_states" to="/aruco_robot/joint_states" />
    </node>
</launch>