<?xml version="1.0"?>
<launch>
    <include file="$(find my_aruco)/launch/image_publish.launch" />

    <node pkg="my_aruco" type="my_aruco_node" name="my_aruco_node" output="screen" required="true">
        <param name="config_file" value="$(find my_aruco)/config/example.yaml"/>
    </node>
</launch>