<?xml version="1.0"?>
<launch>
  <node pkg="my_aruco" type="aruco_detect_node" name="aruco_detect_node" output="screen" required="true">
    <param name="config_file" value="$(find my_aruco)/config/framos.yaml"/>
  </node>

  <include file="$(find my_aruco)/launch/others/groundtruth_publisher.launch" />

</launch>